BOT_TOKEN=replace-with-telegram-bot-token
ADMIN_CHAT_IDS=6907590840
TVH_URL=http://127.0.0.1:9981
TVH_USER=ck
TVH_PASS=replace-with-tvh-admin-password
TVH_PASSWD_PATH=/tvh-passwd
PUBLIC_BASE_URL=https://m3u.066671.xyz
EXPECTED_DVB_COUNT=1
CHECK_INTERVAL_SECONDS=60
